<style>
  .main-section {
    margin: {{ section.settings.main-section-margin-top }}px{{ section.settings.main-section-margin-right }}px{{ section.settings.main-section-margin-bottom }}px{{ section.settings.main-section-margin-left }}px;

  }


  {% for item in section.blocks %}
    {% case item.type %}

    {% when "single-column-text-block" %}


      #single-column-text-wrapper-{{ item.id }}{


        margin: 0 item.settings.single-column-text-margin
      }
    }
    px;
  }
{% when "blockTwo" %}
  #spacer-wrapper-{{ item.id }}{
    height: {{ item.settings.spacer-height }}px;
  }
{% endcase %}
{% endfor %}
</style>



<div class="main-section">



  {% for item in section.blocks %}

    {% case item.type %}

      {% when "single-column-text-block" %}

        <section id="single-column-text-wrapper-{{ item.id }}" class="{{ item.settings.single-column-text-align }}">
          <p>
            {{ item.settings.single-column-richtext }}
          </p>
        </section>

      {% when "blockTwo" %}
        <section id="spacer-wrapper-{{ item.id }}"></section>

    {% endcase %}


  {% endfor %}



</div>



{% schema %}
  {
    "name": "blog-task",
    "settings": [
      {
        "type": "range",
        "id": "main-section-margin-top",
        "label": "main section margin top",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "px",
        "default": 50
      }, {
        "type": "range",
        "id": "main-section-margin-right",
        "label": "main section margin right",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "px",
        "default": 50
      }, {
        "type": "range",
        "id": "main-section-margin-bottom",
        "label": "main section margin bottom",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "px",
        "default": 50
      }, {
        "type": "range",
        "id": "main-section-margin-left",
        "label": "main section margin left",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "px",
        "default": 50
      }
    ],
    "blocks": [
      {
        "name": "single-column-text-block",
        "type": "single-column-text-block",
        "settings": [
          {
            "type": "richtext",
            "id": "single-column-richtext",
            "label": "Change Text Block",
            "default": "<p>hello world</p>"
          }, {
            "type": "select",
            "id": "single-column-text-align",
            "label": "Align Text Block",
            "options": [
              {

                "value": "left",

                "label": "Left"

              }, {

                "value": "center",

                "label": "Center"

              }, {

                "value": "right",

                "label": "Right"

              }
            ]
          }, {
            "type": "range",
            "id": "single-column-text-margin",
            "label": "text-margin",
            "min": 50,
            "max": 200,
            "step": 10,
            "unit": "px",
            "default": 50
          }
        ]
      }, {
        "name": "spacer-block",
        "type": "blockTwo",
        "settings": [
          {

            "type": "range",
            "id": "spacer-height",
            "label": "spacer-height",
            "min": 50,
            "max": 200,
            "step": 10,
            "unit": "px",
            "default": 50
          }

        ]
      }
    ],
    "presets": [

      {

        "category": "content",

        "name": "blog-task",
        "blocks": [
          {
            "type": "single-column-text-block"
          }

        ]

      }

    ]

  }
{% endschema %}