

<style type="text/css">

  .hero-section {
    margin: 20px;
    height: auto;
  }
   
    .hero-section .hero-outer {
        padding: {{ section.settings.outer-section-padding }}px;
        background-image: url("{{ section.settings.hero-background-image | img_url: 'master' }}");
        object-fit: cover;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center;
        width: {{ section.settings.section-width }}%;
        height: {{ section.settings.section-height }}px;
        margin: 0 auto;
        text-align: center;
        display: flex;
        align-items: center;

    }

    .hero-section span {
      display: block;
      color: black;
      font-size: 16px;
    }

    .hero-section .hero-inner {
      width: 100%;
     padding:{{ section.settings.inner-section-padding }}px ;
      background-color: rgba(255, 255, 255, {{ section.settings.inner-bg-opacity }});
     
      
    }


    .hero-section .hero-inner h1, .hero-section .hero-inner h2 {
      margin: 0px;
    }

    
    
    .hero-section .hero-inner a {
      text-decoration: none;
      color: black;
      padding: 12px 10px;
      border-radius: 10px;
      background-color: {{ section.settings.button-color }};
      display: inline-block;
      margin: 4px 2px;
      border: none;
      cursor: pointer;
      color: white
     }

     .hero-section .hero-inner a:hover {
      background-color: {{ section.settings.button-color-hover }};
      
     }

</style>



<section class="hero-section">
  <div class="hero-outer">
    <div class="hero-inner">
      <h2 class="hero-pre-title">{{ section.settings.pre-title }}</h2>
      <h1 class="hero-title">{{ section.settings.title }}</h1>
      {% for block in section.blocks %}
        <span class="hero-day-times">{{ block.settings.days_times }} </span>
      {% endfor %}
       <a href="{{ section.settings.button-url }}"> {{ section.settings.button-txt }} </a>  
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "custom-hero",
    "settings": [
      {
        "type": "text",
        "id": "pre-title",
        "default": "67 Berwick Street, London, W1F 8GR",
        "label": "Hero Pre-Title"
      },
      {
        "type": "text",
        "id": "title",
        "default": "London Store",
        "label": "Hero Title"
      }, 
      {
        "type": "image_picker",
        "id": "hero-background-image",
        "label": "Hero Background Image"
      }, 
      {
        "type": "text",
        "id": "button-txt",
        "default": "Click Here!",
        "label": "Button Text"
      },
      {
        "type": "url",
        "id": "button-url",
        "label": "Button URL"
      },
      {
        "type": "range",
        "id": "outer-section-padding",
        "label": "Outer Padding", 
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "px",
        "default": 50
      }, 
      {
        "type": "range",
        "id": "section-width",
        "label": "Section Width",  
        "min": 50,
        "max": 100,
        "step": 5,
        "unit": "%",
        "default": 100
      }, 
      {
        "type": "range",
        "id": "section-height",
        "label": "Section height",  
        "min": 200,
        "max": 800,
        "step": 10,
        "unit": "px",
        "default": 200
      }, 
      {
        "type": "range",
        "id": "inner-section-padding",
        "label": "Inner Padding",  
        "min": 20,
        "max": 100,
        "step": 10,
        "unit": "px",
        "default": 20
      }, 
      {
        "type": "range",
        "id": "inner-bg-opacity",
        "label": "Inner Background Opacity",  
        "min": 0,
        "max": 1,
        "step": 0.1,
        "default": 0.5
      }, 
      {
        "type": "color",
        "id": "button-color",
        "label": "Button Color",
        "default": "#008080"
      }, 
      {
        "type": "color",
        "id": "button-color-hover",
        "label": "Button Color (hover)",
        "default": "#006666"
      }
    ],
    "blocks": [
      {
        "name": "custom-hero-days-times",
        "type": "block-1",
        "settings": [
          {
            "type": "text",
            "id": "days_times",
            "label": "Add Day-Time Information"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "content-hero",
        "name": "custom-hero"
      }
    ]
  }
{% endschema %}
