<style>

   {% for block in section.blocks %}
     
      {% case block.type %}
         {% when "single-image-block" %}
            
            .single-image-block-{{ block.id }}.block-width-small {
               max-width: 600px;
               margin: 0 auto;
            }
            .single-image-block-{{ block.id }}.block-width-medium {
               max-width: 900px;
               margin: 0 auto;
            }
            .single-image-block-{{ block.id }}.block-width-full {
               max-width: 100%;
            }
      
            .single-image-block-{{ block.id }}.block-width-custom {
               max-width: {{ block.settings.custom-block-width | append: "px" }};
               margin: 0 auto;
            }
      
                   
            .single-image-block-{{ block.id }} img {
               width: 100%;
            }

               .single-image-block-{{ block.id }} span {
               font-family: {{ block.settings.caption-font-family }};
               color: {{ block.settings.caption-color }};
               font-size: {{ block.settings.caption-size }}px;
               
               }
               .single-image-block-{{ block.id }} span p {
               margin: 0px;
               
               }

               .single-image-block-{{ block.id }} span p a {
               color: {{ block.settings.caption-color }};
               }
               
            {% if block.settings.show-caption %}
               .single-image-section-{{ section.id }} .single-image-block-{{ block.id }} span {
                  display: none;
               }
            {% endif %}


            {% when "spacer-block" %}
               .single-column-text-{{ section.id }}  .spacer-{{ block.id }} {
                   height: {{ block.settings.spacer-height }}px;
               }
            
      {% endcase %}

     
  
   {% endfor %}

 

  </style>
  
  
  
  <section class="single-image-section-{{ section.id }} "> 

   {% for block in section.blocks %}
      {% case block.type %}
         {% when "single-image-block" %}
            <div class="single-image-block-{{ block.id }} block-width-{{ block.settings.block-width }}">
               <img src="{{ block.settings.image-picker | img_url: 'grande' }}" alt="" width="" height="" loading="lazy"> 
               <span class=" {{ block.settings.text-align }} "> {{ block.settings.image-caption }} </span>
            </div>
           
               

         {% when 'spacer-block' %}

            <section class="spacer-{{ block.id }}">
                  
            </section>
         
      {% endcase %}
      
   {% endfor %}
  
   
     
  
  
</section>
  
  
  
  {% schema %} 
    {
     "name":"wax-london-single-image",
     "blocks": [
         {
            "name": "single-image-block",
            "type": "single-image-block",
            "settings":[
       
        {
          "type": "image_picker",
          "id": "image-picker",
          "label": "Image"
      },
      {
          "type":"richtext",
          "id":"image-caption",
          "label":"Image Caption"
      }, 
      {
         "type": "font",
         "id": "caption-font-family",
         "label" : "caption Font Family"
      },
      {
         "type": "color",
         "id": "caption-color",
         "label": "caption Text Color",
         "default": "#000000"
      },
      {
         "type":"range",
         "id":"caption-size",
         "label":"caption text size",
         "min":8,
         "max":40,
         "step":1,
         "unit":"px",
         "default":10
      },
      {
         "type":"select",
         "id":"text-align",
         "label":"Align Caption",
         "options":[
            {
               "value":"left",
               "label":"Left"
            },
            {
               "value":"center",
               "label":"Center"
            },
            {
               "value":"right",
               "label":"Right"
            }
         ]
      },

      {
                "type": "select",
                "id": "block-width",
                "label": "Block width",
                "options": [
                {
                "value": "small",
                "label": "Small"
                },
                {
                "value": "medium",
                "label": "Medium"
                },
                {
                "value": "full",
                "label": "Full"
                },
                {
                "value": "custom",
                "label": "Custom"
                }
            ],
            "default": "medium"
            },
            {  
                "type": "range",
                "id": "custom-block-width",
                "label": "Custom block width",
                "min": 200,
                "max": 1900,
                "step": 50,
                "unit": "px",
                "default": 800
            },
      {
        "type": "checkbox",
        "id": "show-caption",
        "label": "show caption",
        "default": false
      }
     ]

         },
         {
            "type": "spacer-block",
            "name": "Spacer",
              "settings":[
                {
                  "type": "range",
                  "id": "spacer-height",
                  "label": "Spacer Height",
                  "min": 0,
                  "max": 200,
                  "step": 5,
                  "unit": "px",
                  "default": 30
                }
              ]
         }
     ], 
     "presets":[
        {
           "category":"content",
           "name":"wax-london-single-image"
        }
     ]
  }
  {% endschema %}