<style>
    .text-and-spacer-section-wrapper {
      padding: {{ section.settings.padding-top }}px {{ section.settings.padding-right }}px {{ section.settings.padding-bottom }}px {{ section.settings.padding-left }}px;
  
    }
  
  
  {% for item in section.blocks %}
      {% case item.type %}
  
        {% when "single-column-text-block" %}
          #single-column-text-wrapper-{{ item.id }}{
                margin: 0px {{ item.settings.single-column-text-margin }}px;
            }

        {% when "double-column-text-block" %}
                #double-column-text-wrapper-{{ item.id }}{
                      margin: 0px {{ item.settings.double-column-text-margin }}px;
                      display: flex;
                      gap: {{ item.settings.double-column-text-gap }}px;
                  }
          
        {% when "spacer-block" %}
                  #spacer-wrapper-{{ item.id }}{
                    height: {{ item.settings.spacer-height }}px;
                  }
  
      {% endcase %}
  {% endfor %}
  
  
  </style>
  
  
  
  <div class="text-and-spacer-section-wrapper">
  
  
    {% for item in section.blocks %}
  
      {% case item.type %}
  
        {% when "single-column-text-block" %}
  
          <section id="single-column-text-wrapper-{{ item.id }}" class="{{ item.settings.single-column-text-align }}">
            <p>
              {{ item.settings.single-column-richtext }}
            </p>
          </section>
  
          {% when "double-column-text-block" %}
  
            <section id="double-column-text-wrapper-{{ item.id }}">

                <div class="{{ item.settings.double-column-left-text-align }}">
                    <p>
                        {{ item.settings.double-column-richtext-left }}
                      </p>
                </div>
             <div class="{{ item.settings.double-column-right-text-align }}">
                <p>
                    {{ item.settings.double-column-richtext-right }}
                  </p>
             </div>
              
            </section>


        {% when "spacer-block" %}
          <section id="spacer-wrapper-{{ item.id }}">
  
          </section>
  
      {% endcase %}
  
    {% endfor %}
  
  
  </div>
  
  
  
  {% schema %}
    {
     "name":"wax-london-text-&-spacer",
     "settings":[
        {
           "type":"range",
           "id":"padding-top",
           "label":"padding top",
           "min":0,
           "max":200,
           "step":10,
           "unit":"px",
           "default":0
        },
        {
           "type":"range",
           "id":"padding-right",
           "label":"padding right",
           "min":0,
           "max":200,
           "step":10,
           "unit":"px",
           "default":0
        },
        {
           "type":"range",
           "id":"padding-bottom",
           "label":"padding bottom",
           "min":0,
           "max":200,
           "step":10,
           "unit":"px",
           "default":0
        },
        {
           "type":"range",
           "id":"padding-left",
           "label":"padding left",
           "min":0,
           "max":200,
           "step":10,
           "unit":"px",
           "default":0
        }
     ],
     "blocks":[
        {
           "name":"single-column-text-block",
           "type":"single-column-text-block",
           "settings":[
              {
                 "type":"richtext",
                 "id":"single-column-richtext",
                 "label":"Change Text Block",
                 "default":"<p>hello world</p>"
              },
              {
                 "type":"select",
                 "id":"single-column-text-align",
                 "label":"Align Text Block",
                 "options":[
                    {
                       "value":"left",
                       "label":"Left"
                    },
                    {
                       "value":"center",
                       "label":"Center"
                    },
                    {
                       "value":"right",
                       "label":"Right"
                    }
                 ]
              },
              {
                 "type":"range",
                 "id":"single-column-text-margin",
                 "label":"text-margin",
                 "min":50,
                 "max":200,
                 "step":10,
                 "unit":"px",
                 "default":50
              }
           ]
        },
        {
           "name":"double-column-text-block",
           "type":"double-column-text-block",
           "settings":[
              {
                 "type":"richtext",
                 "id":"double-column-richtext-left",
                 "label":"Change Left Text Block",
                 "default":"<p>hello world from left</p>"
              },
              {
                 "type":"richtext",
                 "id":"double-column-richtext-right",
                 "label":"Change Right Text Block",
                 "default":"<p>hello world Right</p>"
              },
              {
                 "type":"select",
                 "id":"double-column-left-text-align",
                 "label":"Align Left Text Block",
                 "options":[
                    {
                       "value":"left",
                       "label":"Left"
                    },
                    {
                       "value":"center",
                       "label":"Center"
                    },
                    {
                       "value":"right",
                       "label":"Right"
                    }
                 ]
              },
              {
                 "type":"select",
                 "id":"double-column-right-text-align",
                 "label":"Align Right Text Block",
                 "options":[
                    {
                       "value":"left",
                       "label":"Left"
                    },
                    {
                       "value":"center",
                       "label":"Center"
                    },
                    {
                       "value":"right",
                       "label":"Right"
                    }
                 ]
              },
              {
           "type":"range",
           "id":"double-column-text-gap",
           "label":"Adjust Text Block Gap",
           "min":5,
           "max":20,
           "step":1,
           "unit":"px",
           "default":5
        },
              {
                 "type":"range",
                 "id":"double-column-text-margin",
                 "label":"text-margin",
                 "min":50,
                 "max":200,
                 "step":10,
                 "unit":"px",
                 "default":50
              }
           ]
        },
        {
           "name":"spacer-block",
           "type":"spacer-block",
           "settings":[
              {
                 "type":"range",
                 "id":"spacer-height",
                 "label":"spacer-height",
                 "min":50,
                 "max":200,
                 "step":10,
                 "unit":"px",
                 "default":50
              }
           ]
        }
     ],
     "presets":[
        {
           "category":"content",
           "name":"wax-london-text-&-spacer",
           "blocks":[
              {
                 "type":"single-column-text-block"
              }, 
              {
                "type": "spacer-block"
              }
           ]
        }
     ]
  }
  {% endschema %}