<section class="image-text-style2-{{ section.id }}">

    {% for block in section.blocks %}
        {% case block.type %}
            {% when "image-text-block" %}

                <div class="image-text-style2-block-{{ block.id }} style2-block-width-{{ block.settings.block-width }}">

                    <div class="image-part">
                        <div class="image">
                            <img src="{{ block.settings.image | img_url: 'grande' }}" alt="" width="" height="" loading="lazy">
                        </div>

                        <div class="caption">
                            <span> {{ block.settings.caption }} </span> 
                        </div>                                 
                    </div>

                    <div class="text-part">
                        <div class="text-part-inner">
                            <span class="title"> {{ block.settings.title }} </span> 
                            <span class="desc"> {{ block.settings.desc }}  </span>
                            <button> <a href="{{ block.settings.btn-url }}"> {{ block.settings.btn-text }} </a> </button> 
                        </div>

                        
                    </div>

                </div>
            


            {% when 'spacer-block' %}

                <section class="spacer-{{ block.id }}">
                        
                </section>

        {% endcase %}
    {% endfor %}
</section>



<style>
   
    {% for block in section.blocks %}

        {% case block.type %}

            {% when "image-text-block" %}
                .image-text-style2-block-{{ block.id }} .caption span {
                    display: none;
                }
                       
                .image-text-style2-block-{{ block.id }} .title {
                    display: none;
                }
               
                .image-text-style2-block-{{ block.id }}.style2-block-width-small {
                max-width: 600px;
                margin: 0 auto;
             }
             .image-text-style2-block-{{ block.id }}.style2-block-width-medium {
                max-width: 900px;
                margin: 0 auto;
             }
             .image-text-style2-block-{{ block.id }}.style2-block-width-full {
                max-width: 100%;
             }
       
             .image-text-style2-block-{{ block.id }}.style2-block-width-custom {
                max-width: {{ block.settings.custom-block-width | append: "px" }};
                margin: 0 auto;
             }
       

             .image-text-style2-block-{{ block.id }}  {
                display: flex;
                justify-content: center;
              
             }
             
             .image-text-style2-block-{{ block.id }}  img {
                height: 100%;
                width: 100%;
             }

             .image-text-style2-block-{{ block.id }} .image-part   {
                width: 50%;

             }

             .image-text-style2-block-{{ block.id }} .text-part  {
                display: flex;
                align-content: center;
                flex-wrap: wrap;
                background-color: {{ block.settings.text-bg-color }};
                width: 50%;
                
             }
             .image-text-style2-block-{{ block.id }} .text-part .text-part-inner {
                margin: 20px auto;
                width: 80%;
             }
             .image-text-style2-block-{{ block.id }} .text-part .title {
                margin: 0px;
                font-size: {{ block.settings.title-text-size }}px;
                color: {{ block.settings.title-color }}
             }
             .image-text-style2-block-{{ block.id }} .text-part .desc {
                font-size: {{ block.settings.description-text-size }}px;
                color: {{ block.settings.desc-color }}
             }

             .image-text-style2-block-{{ block.id }} .text-part span p {
                margin: 0 auto;
             }

             .image-text-style2-block-{{ block.id }} img  {
                height: 100%;
                width: 100%;
             }
             

             .image-text-style2-block-{{ block.id }} .text-part button {
                background-color: {{ block.settings.btn-bg-color }};
                display: none;
                border-radius: 100px ;
                padding: 10px 12px;
                
             }

             .image-text-style2-block-{{ block.id }} .text-part button a {
               
                text-decoration: none;
                color: {{ block.settings.btn-text-color }};
             }

             {% if block.settings.show-title %}
                .image-text-style2-block-{{ block.id }} .title {
                    display: inline;
                }
             {% endif %}
            

             {% if block.settings.show-caption %}
                .image-text-style2-block-{{ block.id }} .caption span {
                    display: inline;
                }
             {% endif %}

             {% if block.settings.show-button %}
                .image-text-style2-block-{{ block.id }} .text-part button {
                    display: block;
                    
                    
                 }
             {% endif %}

             {% if block.settings.image-right %}
                .image-text-style2-block-{{ block.id }}  {
                  
                    flex-direction: row-reverse;
                  
                 }
                
             {% endif %}




            {% when "spacer-block" %}
                .image-text-style2-{{ section.id }}  .spacer-{{ block.id }} {
                    height: {{ block.settings.spacer-height }}px;
                }
            
        {% endcase %}
        
    {% endfor %}


</style>



{% schema %}
{
    "name": "wl-image-text-style2",
    "settings": [
      
    ],
    "blocks": [
        {
            "name": "image-text-block",
            "type": "image-text-block",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type":"richtext",
                    "id":"caption",
                    "label":"Image Caption"
                }, 
                {
                    "type":"richtext",
                    "id":"title",
                    "label":"title"
                },
                {
                    "type":"richtext",
                    "id":"desc",
                    "label":"description"
                },
                {
                 "type":"range",
                 "id":"title-text-size",
                 "label":"title text size",
                 "min":8,
                 "max":40,
                 "step":1,
                 "unit":"px",
                 "default":10
              },
                {
                 "type":"range",
                 "id":"description-text-size",
                 "label":"description text size",
                 "min":8,
                 "max":40,
                 "step":1,
                 "unit":"px",
                 "default":10
              },
              {
                    "type":"color",
                    "id":"title-color",
                    "label":"title text color"
                },
                {
                    "type":"color",
                    "id":"desc-color",
                    "label":"desc text color"
                },
              {
                    "type":"color",
                    "id":"text-bg-color",
                    "label":"text part background color"
                },
              {
                    "type":"text",
                    "id":"btn-text",
                    "label":"button text"
                },
                {
                    "type":"url",
                    "id":"btn-url",
                    "label":"button url"
                },
                {
                    "type":"color",
                    "id":"btn-bg-color",
                    "label":"button background color"
                },
                {
                    "type":"color",
                    "id":"btn-text-color",
                    "label":"button text color"
                },
                {
                "type": "select",
                "id": "block-width",
                "label": "Block width",
                "options": [
                {
                "value": "small",
                "label": "Small"
                },
                {
                "value": "medium",
                "label": "Medium"
                },
                {
                "value": "full",
                "label": "Full"
                },
                {
                "value": "custom",
                "label": "Custom"
                }
            ],
            "default": "medium"
            },
            {  
                "type": "range",
                "id": "custom-block-width",
                "label": "Custom block width",
                "min": 200,
                "max": 1900,
                "step": 50,
                "unit": "px",
                "default": 800
            },
            {
        "type": "checkbox",
        "id": "image-right",
        "label": "image right",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show-caption",
        "label": "show caption",
        "default": false
      }, 
      {
        "type": "checkbox",
        "id": "show-button",
        "label": "show button",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show-title",
        "label": "show title",
        "default": false
      }
            ]
        },
        {
            "type": "spacer-block",
            "name": "Spacer",
              "settings":[
                {
                    "type": "range",
                    "id": "spacer-height",
                    "label": "Spacer Height",
                    "min": 0,
                    "max": 200,
                    "step": 5,
                    "unit": "px",
                    "default": 30
                }
              ]
        }
    ],
    "presets": [
        {
         "category":"content",
           "name":"wl-image-text-style2"
        }
    ]
}
{% endschema %}