<style>
  
   [id = "text-and-spacer-section-wrapper-{{ section.id }}"] {
      padding: {{ section.settings.padding-top }}px {{ section.settings.padding-right }}px {{ section.settings.padding-bottom }}px {{ section.settings.padding-left }}px;
  
    }
  
  
  {% for item in section.blocks %}
      {% case item.type %}
  
        {% when "single-column-text-block" %}
         [id = "text-and-spacer-section-wrapper-{{ section.id }}"] #single-column-text-wrapper-{{ item.id }}{
                margin: 0px {{ item.settings.single-column-text-margin }}px;
                font-family: {{ item.settings.single-column-text-font-family }};
                color: {{ item.settings.single-column-text-color }};
                font-size: {{ item.settings.single-column-text-size }}px;
                line-height: {{ item.settings.single-column-line-height }}em;
            }
            [id = "text-and-spacer-section-wrapper-{{ section.id }}"] #single-column-text-wrapper-{{ item.id }} p a {
               color: {{ item.settings.single-column-text-color }};
            }
            [id = "text-and-spacer-section-wrapper-{{ section.id }}"] #single-column-text-wrapper-{{ item.id }} p {
               margin: 0 auto;
            }
        {% when "double-column-text-block" %}
         [id = "text-and-spacer-section-wrapper-{{ section.id }}"] #double-column-text-wrapper-{{ item.id }}{
                      margin: 0 auto;
                      justify-content: center;
                      display: inline-flex;
                      gap: {{ item.settings.double-column-text-gap }}px;
                      
                  }
           [id = "text-and-spacer-section-wrapper-{{ section.id }}"]  #double-column-text-wrapper-{{ item.id }} .left-section  {
                      font-family: {{ item.settings.double-column-left-text-font-family }};
                      color: {{ item.settings.double-column-left-text-color }};
                      font-size: {{ item.settings.double-column-left-text-size }}px;
                      line-height: {{ item.settings.double-column-left-line-height }}em;
                      width: {{ item.settings.double-column-left-width}}px;
                  }
          [id = "text-and-spacer-section-wrapper-{{ section.id }}"]  #double-column-text-wrapper-{{ item.id }} .left-section  p {
            margin: 0 auto;
                  }
          [id = "text-and-spacer-section-wrapper-{{ section.id }}"] #double-column-text-wrapper-{{ item.id }} .right-section  {
                     font-family: {{ item.settings.double-column-right-text-font-family }};
                     color: {{ item.settings.double-column-right-text-color }};
                     font-size: {{ item.settings.double-column-right-text-size }}px;
                     line-height: {{ item.settings.double-column-right-line-height }}em;
                     width: {{ item.settings.double-column-right-width }}px; 
                 }
                 [id = "text-and-spacer-section-wrapper-{{ section.id }}"] #double-column-text-wrapper-{{ item.id }} .right-section p {
                  margin: 0 auto;
                 }
          
        {% when "spacer-block" %}
         [id = "text-and-spacer-section-wrapper-{{ section.id }}"] #spacer-wrapper-{{ item.id }}{
                    height: {{ item.settings.spacer-height }}px;
                  }
  
      {% endcase %}
  {% endfor %}
  
  
  </style>
  
  
  
  <div id="text-and-spacer-section-wrapper-{{ section.id }}">
  
  
    {% for item in section.blocks %}
  
      {% case item.type %}
  
        {% when "single-column-text-block" %}
  
          <section id="single-column-text-wrapper-{{ item.id }}" class="{{ item.settings.single-column-text-align }}">
            <p>
              {{ item.settings.single-column-richtext }}
            </p>
          </section>
  
          {% when "double-column-text-block" %}
  
            <section id="double-column-text-wrapper-{{ item.id }}">

                <div class="left-section {{ item.settings.double-column-left-text-align }}">
                    <p>
                        {{ item.settings.double-column-richtext-left }}
                      </p>
                </div>
             <div class="right-section {{ item.settings.double-column-right-text-align }}">
                <p>
                    {{ item.settings.double-column-richtext-right }}
                  </p>
             </div>
              
            </section>


        {% when "spacer-block" %}
          <section id="spacer-wrapper-{{ item.id }}">
  
          </section>
  
      {% endcase %}
  
    {% endfor %}
  
  
  </div>
  
  
  
  {% schema %}
    {
     "name":"wax-london-text-&-spacer",
     "settings":[
        {
           "type":"range",
           "id":"padding-top",
           "label":"padding top",
           "min":0,
           "max":200,
           "step":10,
           "unit":"px",
           "default":0
        },
        {
           "type":"range",
           "id":"padding-right",
           "label":"padding right",
           "min":0,
           "max":200,
           "step":10,
           "unit":"px",
           "default":0
        },
        {
           "type":"range",
           "id":"padding-bottom",
           "label":"padding bottom",
           "min":0,
           "max":200,
           "step":10,
           "unit":"px",
           "default":0
        },
        {
           "type":"range",
           "id":"padding-left",
           "label":"padding left",
           "min":0,
           "max":200,
           "step":10,
           "unit":"px",
           "default":0
        }
     ],
     "blocks":[
        {
           "name":"single-column-text-block",
           "type":"single-column-text-block",
           "settings":[
              {
                 "type":"richtext",
                 "id":"single-column-richtext",
                 "label":"Change Text Block",
                 "default":"<p>hello world</p>"
              },
              {
                 "type":"select",
                 "id":"single-column-text-align",
                 "label":"Align Text Block",
                 "options":[
                    {
                       "value":"left",
                       "label":"Left"
                    },
                    {
                       "value":"center",
                       "label":"Center"
                    },
                    {
                       "value":"right",
                       "label":"Right"
                    }
                 ]
              },
              {
                 "type":"range",
                 "id":"single-column-text-margin",
                 "label":"text-margin",
                 "min":50,
                 "max":200,
                 "step":10,
                 "unit":"px",
                 "default":50
              },
              {
                "type": "font",
                "id": "single-column-text-font-family",
                "label" : "Font Family"
              },
              {
                  "type": "color",
                  "id": "single-column-text-color",
                  "label": "Text Color",
                  "default": "#000000"
               },
               {
                 "type":"range",
                 "id":"single-column-text-size",
                 "label":"text size",
                 "min":8,
                 "max":40,
                 "step":1,
                 "unit":"px",
                 "default":10
              },
              {
                 "type":"range",
                 "id":"single-column-line-height",
                 "label":"line height",
                 "min":1,
                 "max":3,
                 "step":0.1,
                 "unit":"em",
                 "default":1.5
              }
           ]
        },
        {
           "name":"double-column-text-block",
           "type":"double-column-text-block",
           "settings":[
              {
                 "type":"richtext",
                 "id":"double-column-richtext-left",
                 "label":"Change Left Text Block",
                 "default":"<p>hello world from left</p>"
              },
              {
                 "type":"richtext",
                 "id":"double-column-richtext-right",
                 "label":"Change Right Text Block",
                 "default":"<p>hello world Right</p>"
              },
              {
                 "type":"range",
                 "id":"double-column-left-width",
                 "label":"left width",
                 "min":100,
                 "max":800,
                 "step":10,
                 "unit":"px",
                 "default":200
              },
              {
                 "type":"range",
                 "id":"double-column-right-width",
                 "label":"right width",
                 "min":100,
                 "max":800,
                 "step":10,
                 "unit":"px",
                 "default":200
              },
              {
                 "type":"select",
                 "id":"double-column-left-text-align",
                 "label":"Align Left Text Block",
                 "options":[
                    {
                       "value":"left",
                       "label":"Left"
                    },
                    {
                       "value":"center",
                       "label":"Center"
                    },
                    {
                       "value":"right",
                       "label":"Right"
                    }
                 ]
              },
              {
                "type": "font",
                "id": "double-column-left-text-font-family",
                "label" : "left Font Family"
              },
              {
                  "type": "color",
                  "id": "double-column-left-text-color",
                  "label": "left Text Color",
                  "default": "#000000"
               },
               {
                 "type":"range",
                 "id":"double-column-left-line-height",
                 "label":"left block line height",
                 "min":1,
                 "max":3,
                 "step":0.1,
                 "unit":"em",
                 "default":1.5
              },
               {
                 "type":"range",
                 "id":"double-column-left-text-size",
                 "label":"left text size",
                 "min":8,
                 "max":40,
                 "step":1,
                 "unit":"px",
                 "default":10
              },
              {
                 "type":"select",
                 "id":"double-column-right-text-align",
                 "label":"Align Right Text Block",
                 "options":[
                    {
                       "value":"left",
                       "label":"Left"
                    },
                    {
                       "value":"center",
                       "label":"Center"
                    },
                    {
                       "value":"right",
                       "label":"Right"
                    }
                 ]
              },
              {
                "type": "font",
                "id": "double-column-right-text-font-family",
                "label" : "right Font Family"
              },
              {
                  "type": "color",
                  "id": "double-column-right-text-color",
                  "label": "right Text Color",
                  "default": "#000000"
               },
               {
                 "type":"range",
                 "id":"double-column-right-line-height",
                 "label":"right block line height",
                 "min":1,
                 "max":3,
                 "step":0.1,
                 "unit":"em",
                 "default":1.5
              },
               {
                 "type":"range",
                 "id":"double-column-right-text-size",
                 "label":"right text size",
                 "min":8,
                 "max":40,
                 "step":1,
                 "unit":"px",
                 "default":10
              },
              {
           "type":"range",
           "id":"double-column-text-gap",
           "label":"Adjust Text Block Gap",
           "min":5,
           "max":50,
           "step":1,
           "unit":"px",
           "default":5
        }
      //   ,
      //         {
      //            "type":"range",
      //            "id":"double-column-text-margin",
      //            "label":"text-margin",
      //            "min":50,
      //            "max":200,
      //            "step":10,
      //            "unit":"px",
      //            "default":50
      //         }
              
           ]
        },
        {
           "name":"spacer-block",
           "type":"spacer-block",
           "settings":[
              {
                 "type":"range",
                 "id":"spacer-height",
                 "label":"spacer-height",
                 "min":10,
                 "max":200,
                 "step":10,
                 "unit":"px",
                 "default":50
              }
           ]
        }
     ],
     "presets":[
        {
           "category":"content",
           "name":"wax-london-text-&-spacer",
           "blocks":[
              {
                 "type":"single-column-text-block"
              }, 
              {
                "type": "spacer-block"
              }
           ]
        }
     ]
  }
  {% endschema %}